<!DOCTYPE html>
<html>
<head>
    <title>Mini Museum Meandering Machine</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/main.css">
    

    <link rel="stylesheet" type="text/css" href="engine1/style.css" />
    <script type="text/javascript" src="engine1/jquery.js"></script>   
    <script type="text/javascript">
<!--
var image1=new Image()
image1.src="grant.jpg"
var image2=new Image()
image2.src="british_museum.jpg"
var image3=new Image()
image3.src="turner.jpg"
var image4=new Image()
image4.src="national_gallery_1.jpg"
var image5=new Image()
image5.src="national_gallery_2.jpg"
//-->
</script>

</head>
<body>
    

        <%= yield %>
        
    
</body>
</html>