<body>
<div class='container'>
    <h2>Thank you <%= @name %> 
        <br>
        After much tantalising tinkering, the machine has triggered a most tempting result
    </h2>

    <div class='transbox'>
    <h3>Your Suggestion:</h3>
        <span class='museum'><h2><strong> <%= museum %> </strong></h2></span>
<!-- right, this is gunna be a long slog, but I can't quite work out how to do it on the app thing. so here goes...... -->
            <br>
            <span class='rec'> 
                <% if museum == "The National Gallery" %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/national_gallery_2.jpg" /></th>
                        <th>A wonder around the National Gallery is always rewarding. As National Art collections go this one is not too big, and so it     is  easy to walk around the majority of it without getting 'art sick'.
                             However, may be small compared to places like the met but it sure is packed with mazing masterpeices.
                             <br>
                             <br>
                            Study the pre-renaissance style of painting in the Sainsbury wing, 
                            ask the attendents about the visual consequences of the workshop practice. 
                            In particular look at the Wilton Dyptych (shown right)
                            <br>
                            <br>
                            For those interested in the traditional greats the gallery has a fabulous collection of impressionist works on the first floor 
                            to the right as you walk in the main entrance. Also make sure you check out the English Landscape artists, particularly Turner's 'Rain, Steam and Speed' in room 39
                            <br>
                            <br>
                            Finally, with out a doubt pay a visit to Leonardo da Vinci's 
                            'Madonna on the Rocks', arguably on of the finest works in the collection 
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

            <% if museum == "The National Portrait Gallery" %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/npg_1.jpg" width="460px" height="600px"/></th>
                        <th>The National Portrait Gallery, hidden behind the National Gallery just north of Trafalgar Square
                            offers images of amazing, inspirational and thought provoing icons from British History. The newest and quite controversial of these works is the Duchess of Cambridge's portrait painted by Paul Emsley

                             <br>
                             <br>
                            The BP portrait award, which runs every summer, is a interesting insight in to contemporary attitudes to portaiture. Wonder round, pick out your favourite and compare them to those will always beg the question 'but, what?!'. A comparison that brings intereting results

                            <br>
                            <br>
                            The Tudor Galleries on the third floor offers a very different experience. From the five year Making Art in Tudor Britain project, learn how these amazing artefacts were created, and what that says about their patrons.
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

            <% if museum == "The V&A" %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/VA_1.jpg" width="460px" height="600px"/></th>
                        <th>The Victoria and Albert Museum, founded after the Great Exhibtion of 1851 is the definitave gallery for arts, crafts, fashion, design and any other creative endevour imaginable. 
                             <br>
                             <br>
                            If you arrive from Exhibition Road admire the fantastic glass scultpture by Chihuly in the entrance hall.
                            His Rotunda Chandelier was made for the gallery in 2001 and constructed entirely of blown glass. 
                            Each peice is secured individually to the center, it is 27 ft tall and weight in at 3800lb.
                            <br>
                            <br>
                            Admire the oldest collection of plaster copies in the large plaster courts such as Michelangelo's David and Trajans column.
                            <br>
                            <br>
                            The Jewellery Gallery (rooms 91-93) on he first floor a hidden gem, literally. Even if your not often excited by large pretty stones this collection will have you dancing on your heels. Imagine wearing the Tiara in case 17, room 91!
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
            <% if museum == "Tate Modern" %>
                        <table> 
                            <tbody>
                                <tr>
                                    <th><img class="round" src="/images/TM_1.jpeg" width="460px" height="600px"/></th>
                                    <th>One of the more controversial galleries based in an old power station on the south bank, Tate Modern is the largest and most popular collection of modern art. 

                                         <br>
                                         <br>
                                        The notorious Turbine Hall houses a yearly works specially commissioned by selected artists. The huge spage provides and interesting area to interact with whatever artwork is on show thats not normally found in other galleries. 

                                        <br>
                                        <br>
                                        Other works are seperated by four broad groups across four different floors. Visit the intense works of Rothko in the Poetry/Dream wing.
                                        <br>
                                        <br>
                                        
                                        
                                     </th>
                                    </tr>
                            </tbody>
                        </table>
                        <% end %>
                        <% if museum == "Tate Britain" %>
                                    <table> 
                                        <tbody>
                                            <tr>
                                                <th><img class="round" src="/images/tb_1.jpg" width="460px" height="600px" /></th>
                                                <th>Tate Britain houses the greatest British artworks and housing not only historic greats but also the controversial Turner Prize competition

                                                     <br>
                                                     <br>
                                                    Visit the Clore Gallery to veiw the huge collection of Turners, a pioneering artists due to his new and innovative use of colours in the 19th century. He even created his own!

                                                    <br>
                                                    <br>
                                                    The Pre-Raphelite collection is also impressive for colour magnificence. The brotherhood of Rossetti, Hunt and Millet were pioneers in their use of white backgrounds, which went against the grain of the academy dullards in the victorian era.
                                                    <br>
                                                    <br>
                                                    
                                                    
                                                 </th>
                                                </tr>
                                        </tbody>
                                    </table>
                                    <% end %>
                                    <% if museum == "The Wallace Collection" %>
                                                <table> 
                                                    <tbody>
                                                        <tr>
                                                            <th><img class="round" src="/images/WC_1.jpg"width="460px" height="600px" /></th>
                                                            <th>If you are stressed, one of the more relaxed days out can be found just north of Oxford street in the Wallace collection. It's a medium sized historic house with the most sumptuous decoration and a slow atmosphere. Ask about the 
                                                            intricate history of the Serve porceline and the delicate furniture, some of which belonged to Mary Antoinette.

                                                                 <br>
                                                                 <br>
                                                                find the Fragonard's 'The Swing' on the first floor; try and work out exactly who this painting was created for  why, 
                                                                what is the purpose of the dog and the man in the bushes?
                                                                <br>
                                                                <br>
                                                                bsorb the amazing colours of the French Rococo era, from the dazzling wallpaper to the sumptous still lives in the main gallery
                                                                <br>
                                                                <br>
                                                                check out the amazing collection of armour in the lower gallerys, 
                                                                try and imagine wearing one of those suits day in dayout walking hundreds of miles to battle
                                                                
                                                             </th>
                                                            </tr>
                                                    </tbody>
                                                </table>
                                                <% end %>
<% if museum == "Barbican"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/bar.jpg" width="460px" height="600px"/></th>
                        <th>The Barbican center is a performing arts center in the middle of London. It houses art displays, music concerts, both classical and contemporary as well as film screenings and other perfrmances

                             <br>
                             <br>
                            Just outside the center stands the Museum of London is a very interesting museum that charts the founding of the city from the Roman settlment of Londinium

                            <br>
                            <br>
                            If you're a student, you can often get £4 tickets for performances from the London Symphony Orchestra and the BBC Symphony Orchestra, two world renowned ensembles.
                            <br>
                            <br>
                            The art gallery, The Curve is a new space that often houses intreiging contemporary artwork commissioned esepcially.
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
            <% if museum == "The Cartoon Museum"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/CM.jpg" width="460px" height="600px"/></th>
                        <th>An small little excursion, the Cartoon Museum reveals itself to be an engaging and frankly funny way to spend an afternoon. A building that tracts the way we have ridiculled each other for centuries

                             <br>
                             <br>
                            Check out the fairly overt sketchings of Rowlandson, particularly the 'Contrasts' he found between the English and the newly liberated French at the time of the revolution

                            <br>
                            <br>
                            Admire rare and original artwork from publications such as The Beano and The Dandy and see how Desperte Dan and Denni's escapades have changed over time
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "The British Museum"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/BM_1.jpg" width="460px" height="600px"/></th>
                        <th>The British Museum is the largest museum in London is one of the mmost comprehensive insitutions mapping human history and culture.

                             <br>
                             <br>
                            Visit the controversial Elgin Marbles, taken from the Parthenon in the early 19th Century to protect them from disintergration there is an ongoing dispure between the museum and Greek authorities to have them returned to their original setting on the Acropolis

                            <br>
                            <br>
                            Find the disturbingly preserved Lindow Man found in Cheshire, north England. Research believes he died around 2BC, but how did he die? Read the document and decide for yourself
                            
                            <br>
                            <br>
                            See some of Leonardo Da Vinci's amazing original sketches in the Prints and Drawings department. Try and work out wether he was left or right handed.
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
            <% if museum == "The Museum of the Bank of England"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/BE.jpg" /></th>
                        <th>Located within the Bank of England off Threadneedle Street the museum has only recently opened its collections to the public. 

                             <br>
                             <br>
                            The museum charts the founded of the bank and of banking in England and has a great display of money over the years, as well as the author of Wind in the Willows, Kenneth Graham's dramatic resignation letter.

                            <br>
                            <br>
                            It has great interactive displays and is perfect for those wanting something a little different from their museum experience
                            <br>
                            <br>
                            You can even try to feel the weight of a real bar of gold!
                            <br>
                            <br>
                            </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "Imperial War Museum"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/spy.jpg" width="460px" height="600px"/></th>
                        <th>The Imperial War Museum is currently undergoing a major refurbishment, however, its new exhibition 'Horrible Histories Spies' is well worth a family visit.

                             <br>
                             <br>
                            The exhibition is of course based on Terry Deary's books and brings to life the sotry of the WWII spy and their secret schemes. From exploding camel poo to irritating itching powder, this exhibition reveals the terrible tricks, traps and techniques used by spies to make secret war on the enemy – all the gore and more!

                            <br>
                            <br>
                            Set out on your own spy mission through the exhibition. Follow the trail to collect stamps for your essential spy kit and keep your wits about you as you test your undercover skills including using devious disguises, sniffing out invisible ink and cracking cunning codes. See objects used by Second World War spies and discover the stories of the real wartime Super Spies before finding out if you’ve got what it takes to join their ruthless ranks.
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "UCL Museums"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/UCL.jpg" width="460px" height="600px"/></th>
                        <th>UCL offers a wide range of universities, which between them combine into a nicely varied trip.

                             <br>
                             <br>
                            The Pertrie Museum is one of the greatest collections of Egyptian and Sudanese Archeology. A new project is set to explore how African sculpture was understood in the British artworld of the first half of the twentieth century, imperialism, anti-imperialism and African sculpture as well as how artists of African-Caribbean heritage were influenced by Egyptian sculpture

                            <br>
                            <br>
                            UCL Art Museum houses a fantastic collection of Prints and Drawings. Though closed in the summer the it always offers an interesting pop-up exhibition during term time focusing on its works, previous ones being representations of Lacoon and Rousseau
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "Greenwich"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/GW.jpg" width="460px" height="600px"/></th>
                        <th>The area of Greenwich offers a nice variety of things to do in a wonderfully peaceful setting in veiw of the commercial hub of the City. Admire architectural genius work of Inigo Jones in the Queen's House, the first truly baroque building built in England. It was built for James I of England's wife, Anne of Denmark in the early sixteenth century.

                             <br>
                             <br>
                            Pop into the Painted Hall in the Old Navel College and be dazzled by one of the first painted dining halls in England. The images display the might of English Maratime power which you can follow with mirrors on tables, so as to avoid neck cramp.

                            <br>
                            <br>
                            You can also visit the Cutty Sark and take a brisk walk up the hill to the Royal Observatory. Walk the path of the likes of Captain Jack Sparrow and spy for aliens in one evening.
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "Welcome Collection"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/WC.jpg" width="460px" height="600px"/></th>
                        <th>A Free destination for the incurably curious. 
                            <br>The Welcome Collection is a fantastic and unique mix of galleries, events, and meeting, reading and eating places where you can consider what it means to be human. It is an unusual mixture of medical artifacts and original artworks exploring 'ideas about the connections between medicine, life and art'

                             <br>
                             <br>
                            It often has very interesting free exhibitions in its lower gallery space, recent ones have focused on skin, dirt, medicine now

                            <br>
                            <br>
                            Its permanent collection displays medical artefacts from history, such as hundered year old sex toys and chastity belts. It also has exhibits and artworks related to new developments in science
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "The Natural History Museum"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/CD_1.jpg" /></th>
                        <th>The museum is home to life and earth science specimens comprising some 70 million items. The museum is a world-renowned centre of research specialising in taxonomy, identification and conservation. Given the age of the institution, many of the collections have great historical as well as scientific value, such as specimens collected by Charles Darwin.

                             <br>
                             <br>
                            One of the most famous and certainly most prominent of the exhibits — affectionately known as Dippy — is a 105-foot (32 m) long replica Diplodocus carnegii skeleton, situated within the central hall.

                            <br>
                            <br>
                            Another iconic display is the parallel skeleton and model of a blue whale. The display of the skeleton, weighing 10 tons and some 25 m long, was only made possible in 1934 with the building of the New Whale Hall (now the Large Mammals Hall). Discussion of the idea of a life-size model also began around this time, and work was undertaken within the Whale Hall itself. Since taking a cast of such a large animal was deemed prohibitively expensive, scale models were used to meticulously piece the structure together. During construction, workmen left a trapdoor within the whale's stomach, which they would use for surreptitious cigarette breaks.
                            <br>
                            The dinosaurs are also great.

                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "Horniman"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/walrus.jpg" width="460px" height="600px"/></th>
                        <th>A really interesting museum, it was founded by Frederick John Horniman, who had inherited his father's Horniman's Tea business, which by 1891 had become the world's biggest tea trading business.
                        The cash from the business allowed Horniman to indulge his lifelong passion for collecting, and which after travelling extensively had some 30,000 items in his various collections, ranging from natural history, cultural artefacts and musical instruments.

                             <br>
                             <br>
                            Due to the collecting habits of indulgent victorian collectors the museum has a bizarre range of anthropological and musical items. 

                            <br>
                            <br>
                            One thing you cannot miss if the famous overstuffed Walrus. It was sent to a taxidermist after a hunting trip. Unfortunately, the taxidermist had never seen a walrus before, and did not know how it was supposed to appear. The result is that the once flappy and flabby animal is now quite stuffed!
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "Old Operating Theater"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/OOT.jpg" /></th>
                        <th>The Old Operating Theatre Museum is one of the most unusual museums in London. The Operating Theatre is the oldest in Europe and found in a unique space in the Herb Garret of St Thomas Church, and was part of old St Thomas Hospital.

                             <br>
                             <br>
                            The Operating Theatre (operating or emergency room) is found in the roof space of an English Baroque Church. At first glance this placement seems bizarre. It makes more sense when it is realised that the wards of the South Wing of St. Thomas' Hospital were built around St. Thomas' Church.

                            <br>
                            <br>
                            Until 1846, surgeons had no recourse to anaesthetics and depended on swift technique (surgeons could perform an amputation in a minute or less), the mental preparation of the patient and alcohol or opiates to dull the patient's senses. Thereafter ether or chloroform started to be used. The Operating Theatre had closed down before antiseptic surgery was invented. 
                            <br>
                            <br>
                            <br>
                            <br>
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "Hyde Park"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/HPL.jpg" width="430px" height="580px"/></th>
                        <th>Although not an obvious museum choice, for the more active Hyde Park is crammed with interesting art, architecture and installations (weather permitting of course!).

                             <br>
                             <br>
                             Sites of interest in the park include Speakers' Corner (located in the northeast corner near Marble Arch), close to the former site of the Tyburn gallows, and Rotten Row. South of the Serpentine is the Diana, Princess of Wales memorial, an oval stone ring fountain opened on 6 July 2004. 

                            <br>
                            <br>
                            An assortment of unusual sculptures are scattered around the park, including Drinking Horse, made in the shape of a massive horse head lapping up water, a family of Jelly Babies standing on top of a large black cube, and Broom Broom, which resembles a giant human hand pushing a toy car along the ground. There are occasional temporary exhibits.
                            <br>
                            <br>
                            The Serpentine Gallery often has an intersting installation outside in summer time, which is often fun to climb on!
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
        <% if museum == "Highgate Cemetary"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/HC.jpg" width="460px" height="600px"/></th>
                        <th>It is divided into two parts, named the East and West cemetery. There are approximately 170,000 people buried in around 53,000 graves at Highgate Cemetery. Highgate Cemetery is notable both for some of the people buried there as well as for its de facto status as a nature reserve.
                            It is thus a haven of beauty and tranquility, a place of peace and contemplation where a romantic profusion of trees, memorials and wildlife flourish in the heart of London

                             <br>
                             <br>
                            The most famous burial in the East cemetery is probably that of Karl Marx (whose tomb's attempted bombings on 2 September 1965 and in 1970 are still recalled by some Highgate residents), and it is celebrated by a memorial (he was buried nearby).

                            <br>
                            <br>
                            Two chapels, one for the Church of England and the other for Dissenters, were housed within one building, built in the Tudor Gothic style, topped with wooden turrets and a central bell tower. The archway beneath the bell-tower gives an imposing entry to the Cemetery.
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

        <% if museum == "Trafalgar Square"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/TS.jpg" width="460px" height="600px"/></th>
                        <th>Trafalgar square is home to two of the best galleries in London, the National Gallery and the National Portrait Gallery. To add to this, there is a whole hose of other things to pleasantly while the houses away.

                             <br>
                             <br>
                            St Martin's in the Feild ofte do amazing free lunchtime concerts with performers from the Englands most prostigious conseritoires. On top of this, the crypt below does an unparrelled lunch spread

                            <br>
                            <br>
                            The art and sculpture around the area is very engaging, the forth plinth always atracts controversy whilst the Cenotaph on nearby Whitehall nothing but respect. For the more eagle eyes, try looking up the fate of Epstiens amazing sculptors on what was the British Medical association, and find their remmnants now on Zimbabwe House.
                            <br>
                            <br>
                            Find Godwins court and and Cecil Court and just north east of the squre, the original inspiration for Knockturn Alley and Diagon Alley in J.K Rowling's Harry Potter books.
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

        <% if museum == "Brick Lane/East end"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/BL.jpg" width="460px" height="600px"/></th>
                        <th>A trip to Brick Lane will always shake the dust from the creative cobwwebs! 
                            Wander around he shops and markets studying the graffitti, which constantly changes.
                             Admire the street signs whilst munching of a delicious curry before redesigning your wardrobe in the 
                             fantastic vintage shops!

                             <br>
                             <br>
                            wander around and admire the colours and smells of the world convieniently in one street. 
                            Brick Lane has some of the best street food in the UK with unbeatable curries. heres always interesting art displays on in the small gallerieis and shops, 
                            but they move around. Go for an explore and record what you see.

                            <br>
                            <br>
                            Check out the graffiti, it changes weekly and always has something beutiful to offerry finding the biegle shop for a really good, cheap bagel. 
                            Throw in a portugese custard tart for 75p to, one of the most reasnable prices in London
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

        <% if museum == "Southwark"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/clink.jpg" width="460px" height="600px"/></th>
                        <th>The City of London was ruled with an iron fist by the Mayor of London and everything illegal was stamped out, but of course, illegal activities needed a place to go so they went to Southwark, an infamous red light district during the Medieval times. This included activities like bear baiting, dog fighting, prostitution, gambling, so lots of unsavoury people were loitering in this area..including the worst of them all - actors

                             <br>
                             <br>
                            Walk around and explore, find the Golden Hind and discover Sir Francis Drakes questionable motives, alongside the remains of the old Bishop of Winchester's palace, the largest medieval palace in Europe.

                            <br>
                            <br>
                            This area was controlled by the Bishops of Winchester and if they didn’t like what you were doing they would throw you into the Clink prison. The oldest prison for both women and men, operating from the C12th- 18th, this is the place from where we get the common English expression ‘to be in the Clink’ 
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

        <% if museum == "Science Museum"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/SM.jpg" width="460px" height="600px"/></th>
                        <th>The Science Museum now holds a collection of over 300,000 items, including such famous items as Stephenson's Rocket, the first jet engine, a reconstruction of Francis Crick and James Watson's model of DNA, a working example of Charles Babbage's Difference engine (and the latter, preserved half brain), the first prototype of the 10,000-year Clock of the Long Now, and documentation of the first typewriter. 
                             <br>
                             <br>
                            Explore outer space, find out about the pregnant man, the seven toed cat or learn about the life of the codebreaker Alan Turning

                            <br>
                            <br>
                            The Science Museum also organises "Science Night", "all night extravaganza with a scientific twist". Up to 380 children aged between 8 and 11, accompanied by adults, are invited to spend an evening performing fun "science based" activities and then spend the night sleeping in the museum galleries amongst the exhibits. In the morning, they're woken to breakfast and more science, watching an IMAX film before the end of the event
                            <br>
                            <br>
                            
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

        <% if museum == "Sir John Soane Museum"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/SJS.jpg" width="460px" height="600px"/></th>
                        <th>Sir John Soane's Museum was formerly the home of the neo-classical architect John Soane. It holds many drawings and models of Soane's projects and the collections of paintings, drawings and antiquities that he assembled.

                             <br>
                             <br>
                            The heritage-listed house is largely as it was when Sir John was carted out in a box, and is itself a main part of the attraction. It has a glass dome that brings light right down to the basement, a lantern room filled with statuary, rooms within rooms, and a picture gallery where paintings are stowed behind each other on folding wooden panes. 
                            <br>
                            <br>
                            Medieval objects include: architectural fragments, mainly from the Old Palace of Westminster (acquired after the 1834 fire), tiles and stained glass. Soane acquired 44 examples of 18th century Chinese ceramics as well as 12 examples of Peruvian pottery. Soane also purchased four ivory chairs and a table, believed to be made in Murshidabad for Tipu Sultan's palace at Srirangapatna.
                            <br>
                            <br>
                            The first Tuesday evening of each month is the choice time to visit as the house is lit by candles and the atmosphere is even more magical (it is very popular and there are always long queues).

                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>

        <% if museum == "Twinnings Tea Shop and Museum"  %>
            <table> 
                <tbody>
                    <tr>
                        <th><img class="round" src="/images/twinings.jpg" width="460px" height="600px"/></th>
                        <th>It started in 1706...

                             <br>
                             <br>
                            Thomas Twining bought Tom’s Coffee House on London’s Strand in 1706.  The location of the shop was perfect as it straddled the border between Westminster and the City of London, an area that was newly populated with the aristocracy displaced by the Great Fire of London.

                            <br>
                            <br>
                            And in 2012...
                            We're still here!  with a little museum and a sampling corner
                            <br>
                            <br>
                            - here you can see some fascinating stuff - old teapots and caddies and some lovely old pictures of the Twining family.  Do come and have a look, a warm welcome is assured.
                            
                         </th>
                        </tr>
                </tbody>
            </table>
            <% end %>
            <!-- son of a that took FAR to long. -->
            <br>
            <br>

            Would you like your reccomendation emailed to you?
            <br> 
            If so, please enter your email into the box

            <label> <strong>here </strong></label>
                        <form method='post' action='/email'>
                        <input type='text' name='email'>
            <span>
                <br>
                <br>
            The Mini-meandering-maching hopes to have helped you on your day, and that you enjoy your visit to London!
             <!-- so very different from <%= @place %> - eventually that will have to be something, till then, eat cheese-->
<br>
<br>
</span>
</div>
</body>