<h2>Thank you <%= @name %>! 
    <br>
    After much tantalising tinkering, the machine has triggered a most tempting result

</h2>
<body>
    <div class='transbox'>
<h2>Your Suggestion:</h2>
    <br>

<span class='museum'> <%= museum %> </span>
<br>
<br>
Here are a couple of things to look out for.... 

<!-- thanks go here -->
<br>
<br>

Would you like your reccomendation emailed to you?
<br> 
If so, please enter your email into the box

<label> <strong>here </strong></label>
            <form method='post' action='/email'>
            <input type='text' name='email'>
<span>
    <br>
    <br>
The Mini-meandering-maching hopes to have helped you on your day, and that you enjoy your visit to London, so very different from <%= @place %>
</span>
</dv>